#contact-section-1{
    background-color: var(--background);
    padding: 10px;
}
.contact-section-1-list div{
    padding: 7px;
    background-color: var(--background);
    border-radius: 20px;
    border: 1px solid var(--accent);
    margin: 3px;
    width: 150px;
}